
.button {
	display: flex;
	background-color: hsl(26, 100%, 55%);
	box-shadow: 0 2rem 2rem 0 hsl(25, 100%, 94%), 0 0rem 2rem 0 hsl(25, 100%, 94%);
	border-radius: 1rem;
	border: none;

	color: white;
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 16px;
	text-align: center;
	justify-content: center;
	align-items: center;
	text-decoration: none;

	cursor: pointer;

	margin: 0;
	padding: 0;

	height: 4rem;
	width: auto;

	padding-left: 1rem;
	padding-right: 1rem;

	transition: 0.3s;
}

.button:hover {
	background-color: hsl(26, 100%, 67%);
}

.homepage {
	margin: 0;
	padding: 0;

	width: 18rem;
	
	transition: 0.3s;
}

.collections {
	width: 18rem;
}

.addToCart {
	width: 16rem;
	margin-top: 1rem;

	transition: 0.3s;
}
.checkout {
	width: calc(100% - 2rem);
	box-shadow: none;
	font-weight: 700;

	margin-left: 1rem;
}

@media screen and (max-width: 900px) {
	.homepage {
		width: calc(100% - 2rem);
		height: 4rem;
	}
	.addToCart {
		width: 100%;
		margin-bottom: 1rem;
	}
}