.imagePreview {
	width: 50vh;
	height: 50vh;
	border-radius: 1rem;

	margin: 0;
	padding: 0;

	margin-top: 4rem;
}

.imageSmall {
	width: 10vh;
	height: 10vh;
	border-radius: 1rem;
	margin: 0;
	padding: 0;
}

.albumFlex {
	width: 30vw;
	margin-top: 4rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	background-color: brown;
}