/* Set page margins */
body {
	position: relative;
	margin: 0;
	padding: 0;
	top: 0px;
}

/* Set base tags */
ul {
	color: hsl(219, 9%, 45%);
	font-family: 'Kumbh Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* Main layout */
.navbar {
	position: fixed;
	top:0;
	margin:0;
	padding:0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	width: 80vw;
	height: 100px;
	padding-left: 10vw;
	padding-right: 10vw;
	background-color: white;

	z-index: 10;

	
}
.dark {
	display: none;
	position: fixed;
	margin: 0;
	padding: 0;
	width: 300vw;
	height: 300vh;

	top: -100vh;

	background-color: black;
	opacity: 0%;
	transition: 0.2s;
	z-index: 1;
}
.pageLinks {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: center;

	transition: 0;
}
.pageLinksClose{
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: center;

	transition: 0;
}
.rightContent {
	width:100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row;
}

/* Set page margins */
.navbarLogo {
	position: relative;
	padding-right: 1.5rem;
}
.topbarLinks {
	padding: 0;
	margin: 0;
	padding-right: 1.5rem;
}
.topbarLinksStyle {
	color: hsl(219, 9%, 45%);
	text-decoration: none;
	cursor: pointer;
	transition: 0.3s;
}
.topbarLinksStyle:hover {
	color: hsl(0, 0%, 0%);
}

.topbarLinksHome {
	display: none;
}
.topbarRight {
	padding: 0%;
	margin: 0%;
	padding-left: 3rem;
	text-decoration: none;
}
.topbarRight:hover {
	color: hsl(0, 0%, 0%);
	text-decoration: none;
}

.cartBox {
	position: fixed;
	margin: 0;
	padding: 0;

	background-color: white;
	width: 400px;
	height: 300px;
	border-radius: 0.75rem;
	top: 70px;
	right: 8vw;
	box-shadow: 0 2rem 2rem 0 hsl(0, 0%, 0%, 10%), 0 0rem 2rem 0 hsl(0, 0%, 0%, 10%);

	transition: 0.3s;

	opacity: 0%;
}
.cartTitle {
	color: black;
	font-family: 'Kumbh Sans', sans-serif;
	font-weight: 700;
	font-size: 16px;
	text-decoration: none;
	list-style-type: none;
	padding: 0;
	margin: 1.5rem;
}
.cartLine {
	width: 100%;
	height: 1px;
	background-color: hsl(220, 14%, 75%);
}
.cartContainer {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	height: calc(100% - 3rem - 21px);
}
.cartEmpty {
	position: relative;
	color: hsl(219, 9%, 45%);
	font-family: 'Kumbh Sans', sans-serif;
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	align-self: center;
}
.imageProfile {
	position: relative;
	height: 42px;
	width: 42px;
	opacity: 100%;
	transition: 0.3s;
}
.imageProfile:hover {
	opacity: 75%;;
}

.hamburger {
	position: relative;
	border: 0;
	height: 2rem;
	width: 2rem;
	padding: margin 0.5rem;

	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
	position: absolute;
	top: 1.6rem;
	left: 1.4rem;

	display: none;
	background-color: rgba(0, 0, 0, 0);

	fill: black;
	transition: 0.3s;
}
.hamburgerSVG {
	filter: grayscale(100);
	filter: contrast(100);

	transition: 0.3s;

	z-index: 14;
}
.hamburgerSVGOpen {
	filter: grayscale(100);
	filter: contrast(-70);

	transition: 0.3s;
	
	z-index: 14;
}
.cartSVG {
	transition: 0.3s;
}
.cartSVG:hover {
	filter: brightness(30%);
	transition: 0.3s;
	cursor: pointer;
}
.navbarLine {
	position: fixed;
	background-color: hsl(220, 14%, 75%);
	width: 80vw;
	margin-left: 10vw;
	top: 100px;
	height:1pt;
}
.navbarOffset {
	z-index: -100;
	position: relative;
	width: 100%;
	height: 100px;
}

@media screen and (max-width: 900px) {

	.navbar {
		margin: 0;
		padding: 0;

		width: 100vw;
		height: 100px;
	}
	.navbarOffset {
		width: 100vw;
		height: 100px;
	}

	.navbarLogo {
		margin: 0;
		padding: 0;

		margin-left: 2rem;
	}
	.topbarRight {
		margin: 0;
		padding: 0;

		margin-right: 2rem;
	}

	.topbarLinks {
		margin: 0;
		padding: 0;

		margin-left: 1rem;
	}
	.navbarLine {
		display: none;
	}


}

@media screen and (max-width: 680px) {
	.navbar {
		width: 100vw;
		height: 80px;
	}
	.navbarOffset {
		width: 100vw;
		height: 80px;
	}
	.pageLinks {

		background-color: hsl(220, 13%, 13%);
		
		position: absolute;
		z-index: 10;

		flex-direction: column;
		justify-content: center;
		align-items: center;

		top: 0;
		margin: 0;
		padding: 0;

		width: 200px;
		height: 100vh;

		left: 0;

		transition: 0.2s;
	
	}
	.pageLinksClose {
		background-color: hsl(220, 13%, 13%);
		
		position: absolute;
		z-index: 10;

		flex-direction: column;
		justify-content: center;
		align-items: center;

		top: 0;
		margin: 0;
		padding: 0;

		width: 200px;
		height: 100vh;

		left: -200px;

		transform: 0.2s;
	}
	.topbarLinks {
		padding: 0;
		margin: 0;
		margin-bottom: 0.5rem;
		margin-top: 0.5rem;
	}
	.topbarLinksHome {
		display: block;
	}
	.navbarLogo {
		margin-left: 4rem;
	}
	.hamburger {
		display: block;
		z-index: 12;
	}
	.dark {
		display: block;
	}
	.cartSVG {
		z-index: 20;
	}
	.cartBox {
		width: calc(100% - 2rem);
		left: 1rem;
	}
}